<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.key_project.sed.algodebug.view.VariablesSelectionView"
            id="org.key_project.sed.ui.view.VariablesSelectionView"
            name="VariablesSelectionView"
            restorable="true">
      </view>
      <view
            category="org.key_project.sed.ui.category"
            class="org.key_project.sed.algodebug.view.AlgorithmicDebugView"
            id="org.key_project.sed.ui.view.AlgorithmicDebugView"
            name="Algorithmic Debug"
            restorable="true">
      </view>
      <view
            class="org.key_project.sed.algodebug.view.SelectionTest"
            id="org.key_project.sed.ui.view.SelectionTest"
            name="SelectionTest"
            restorable="true">
      </view>
      <view
            class="org.key_project.sed.algodebug.view.AlgorithmicDebugVariablesView"
            id="org.key_project.sed.ui.view.myVariablesView"
            name="myVariablesView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.key_project.sed.algodebug.perspective.Perspective"
            id="org.key_project.sed.algodebug.perspective"
            name="Algorithmic Debugging Perspective">
      </perspective>
   </extension>

</plugin>
