<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.key_project.starvoors.casesgenerator.Casesgenerator"
            name="StaRVOOrS Casesgenerator">
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="appName"
               value="StaRVOOrS Casesgenerator">
         </property>
         <property
               name="welcomePerspective"
               value="org.eclipse.ui.resourcePerspective">
         </property>
         <property
               name="introTitle"
               value="StaRVOOrS Casesgenerator">
         </property>
         <property
               name="introBrandingImage"
               value="product:icons/IntroLogo.gif">
         </property>
         <property
               name="introBrandingImageText"
               value="KeY Project">
         </property>
         <property
               name="windowImages"
               value="icons/logo16.gif,icons/logo32.gif,icons/logo48.gif,icons/logo64.gif,icons/logo128.gif">
         </property>
         <property
               name="aboutText"
               value="StaRVOOrS Casesgenerator&#x0A;&#x0A;Version: 1.0.0&#x0A;&#x0A;Developed as part of the KeY project.">
         </property>
         <property
               name="aboutImage"
               value="icons/About.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="3F3F3F">
         </property>
         <property
               name="startupMessageRect"
               value="30,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="30,275,445,15">
         </property>
      </product>
   </extension>
   <extension
         id="Casesgenerator"
         name="StaRVOOrS Casesgenerator"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="*"
            icon="icons/logo16.gif"
            thread="main"
            visible="true">
         <run
               class="org.key_project.starvoors.casesgenerator.application.CasesGeneratorApplication">
         </run>
      </application>
   </extension>
</plugin>
