body{
	font-family: "Courier New", Courier, monospace;
	font-size: 16px;
}

.highlighted{
	background-color:yellow;
}
.forall{
	color: blue;
	font-weight: bold;
}
.arrow{
	background-color:red;
}
.slashed{
	color:red;
	background-color:blue;
}
