/*We recommend to only change this file using the KeY CSS Styler */ 
pre {
	background-color: #FFFFFF;
	color: #000000;
	font-weight: normal;
	font-size: 16px;
	font-family: Courier New;
	font-style: normal;
}
.highlighted {
	background-color: #FFFF00;
	color: inherit;
	font-weight: inherit;
	font-style: inherit;
}
.mouseover {
	background-color: #B0C4DE;
	color: inherit;
	font-weight: inherit;
	font-style: inherit;
}
.filterSelection {
	background-color: #ff6666;
	color: inherit;
	font-weight: inherit;
	font-style: inherit;
}
.minimized {
	background-color: inherit;
	color: inherit;
	font-weight: inherit;
	font-size: 6px;
	font-style: inherit;
}
.collapsed {
	display: none;
}
.ruleApp {
	background-color: #B3FD53;
	color: inherit;
	font-weight: inherit;
	font-style: inherit;
}
.ifInst {
	background-color: #ccffcc;
	color: inherit;
	font-weight: inherit;
	font-style: inherit;
}
.ifFormula {
	background-color: #ccffcc;
	color: inherit;
	font-weight: inherit;
	font-style: inherit;
}
.equality {
	background-color: inherit;
	color: #FF0000;
	font-weight: inherit;
	font-style: inherit;
}
.function {
	background-color: inherit;
	color: #000000;
	font-weight: inherit;
	font-style: inherit;
}
.locationVar {
	background-color: inherit;
	color: #0000FF;
	font-weight: bold;
	font-style: inherit;
}
.junctor {
	background-color: inherit;
	color: #0000FF;
	font-weight: bold;
	font-style: italic;
}
.logicVar {
	background-color: inherit;
	color: #008000;
	font-weight: inherit;
	font-style: inherit;
}
.quantifier{
	background-color: inherit;
	color: #ff3300;
	font-weight: inherit;
	font-style: inherit;
}
.sortDepFunc {
	background-color: inherit;
	color: #000000;
	font-weight: bold;
	font-style: inherit;
}
.modality {
	background-color: inherit;
	color: inherit;
	font-weight: bold;
	font-style: inherit;
}
.observerFunc {
	background-color: #008000;
	color: inherit;
	font-weight: inherit;
	font-style: inherit;
}
.abstractSortOp {
	background-color: #0000FF;
	color: inherit;
	font-weight: inherit;
	font-style: inherit;
}
.abstractSV {
	background-color: #808080;
	color: #FFFFFF;
	font-weight: inherit;
	font-style: inherit;
}
.abstractTermTransf {
	background-color: #FF00FF;
	color: inherit;
	font-weight: inherit;
	font-style: inherit;
}
.elemUpdate {
	background-color: inherit;
	color: #FFFF00;
	font-weight: bold;
	font-style: inherit;
}
.formulaSV {
	background-color: #808080;
	color: #FFFF00;
	font-weight: inherit;
	font-style: inherit;
}
.ifExThenElse {
	background-color: #008000;
	color: #FF0000;
	font-weight: bold;
	font-style: inherit;
}
.ifThenElse {
	background-color: inherit;
	color: #008000;
	font-weight: bold;
	font-style: inherit;
}
.modalOpSV {
	background-color: #0000FF;
	color: #FFFF00;
	font-weight: bold;
	font-style: inherit;
}
.progConst {
	background-color: #000000;
	color: #FF0000;
	font-weight: bold;
	font-style: inherit;
}
.progMeth {
	background-color: #000000;
	color: #008000;
	font-weight: bold;
	font-style: inherit;
}
.progSV {
	background-color: #000000;
	color: #FFFFFF;
	font-weight: bold;
	font-style: inherit;
}
.progVar {
	background-color: #000000;
	color: #2fedff;
	font-weight: bold;
	font-style: inherit;
}
.schemaVarFactory {
	background-color: #003fff;
	color: #FF0000;
	font-weight: inherit;
	font-style: inherit;
}
.skolemTermSV {
	background-color: #003fff;
	color: #FF00FF;
	font-weight: bold;
	font-style: inherit;
}
.substOp {
	background-color: #808080;
	color: #FF0000;
	font-weight: inherit;
	font-style: inherit;
}
.termLabelSV {
	background-color: #808080;
	color: #008000;
	font-weight: inherit;
	font-style: inherit;
}
.termSV {
	background-color: #808080;
	color: #0000FF;
	font-weight: inherit;
	font-style: inherit;
}
.transformer {
	background-color: #808080;
	color: #000000;
	font-weight: inherit;
	font-style: inherit;
}
.updateApp {
	background-color: #FF00FF;
	color: inherit;
	font-weight: inherit;
	font-style: inherit;
}
.updateJunc {
	background-color: #FF00FF;
	color: #008000;
	font-weight: inherit;
	font-style: inherit;
}
.updateSV {
	background-color: #FF00FF;
	color: #0000FF;
	font-weight: bold;
	font-style: inherit;
}
.varSV {
	background-color: violet;
	color: #000000;
	font-weight: inherit;
	font-style: inherit;
}
.warySubstOp {
	background-color: #2fedff;
	color: #FF0000;
	font-weight: inherit;
	font-style: italic;
}
