pre{
	font-family: "Courier New", Courier, monospace;
	font-size: 16px;
}
.highlighted{
	background-color: yellow;
}
.mouseover{
	background-color: B0C4DE;
}
.minimized{
	font-size: 6px;
}
.collapsed{
	visibility: collapsed;
}

.forall{
	color: blue;
	font-weight: bold;
}
.arrow{
	background-color:red;
}
.slashed{
	color:red;
	background-color:blue;
}
