.table-row-cell:selected {
    -fx-background-color: lightblue; 
    -fx-text-background-color: black;
}

.table-row-cell:completed {
    -fx-background-color: lightgrey;
}

.text-area-table-cell:editable {
    -fx-padding: 3 5 3 5;
    -fx-background-insets: 0.0;
    -fx-border-color: orange;
    -fx-background-color: white;
    -fx-focus-color: -fx-control-inner-background;
}

.text-area {
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
}

.text-area .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area .content {
    -fx-padding: 0 0 0 0;
}