<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <file>key.log</file>
        <append>false</append>
        <encoder>
            <pattern>%-5level %-15thread %-10logger %msg %ex</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>

